<!DOCTYPE html>
<html>
<body>

<h2>Dropdown Menu</h2>
<p>Move the mouse over the button to open the dropdown menu.</p>

<input type="text" [(ngModel)]="g.ApplicationMemory['jeroen']" placeholder="jeroen">
<div class="dropdown">
  <button class="dropbtn">Dropdown</button>
  <div class="dropdown-content">
  <a href="#">Link 1</a>
  <a href="#">Link 2</a>
  <a href="#"><p>{{g.ApplicationMemory["jeroen"]}}</p></a>

  </div>
</div>
<p>{{g.ApplicationMemory["jeroen"]}}</p>d
<p><strong>Note:</strong> We use href="#" for test links. In a real web site this would be URLs.</p>
<a href="#"><p>{{g.AppMem["paul"]}}</p></a>

</body>
</html>




